/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#question0 {
    --answer-content: "int(string)";
}

#quiz-content {
    align-content: center;
    align-items: center;
    align-self: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #877eac;
}

.question-button {
    position: relative; /* Add relative positioning */
    border-radius: 20px;
    background-color: rgb(191, 178, 243);
    border: none;
    border-width: 0px;
    border-style: solid;
    height: 20px;
    color: rgb(135, 126, 172);
    font-family: 'Roboto', sans-serif;
    min-width: 150px;
    cursor: pointer;
    transition: all .25s;
    overflow: hidden; /* Prevents the ::before element from causing overflow */
}

.question-button:hover {
    width: 200%px;
    background-color: rgb(134, 125, 171);
    color: #877eac;
}

.question-button::before {
    content: var(--answer-content);
    color: rgb(191, 178, 243);
    opacity: 0;
    transition: all .25s;
    position: absolute; /* Add absolute positioning */
    top: 0; /* Position at the top of the button */
    left: 0; /* Position at the left of the button */
    width: 100%; /* Occupy the full width of the button */
    height: 100%; /* Occupy the full height of the button */
    display: flex; /* Use flexbox to center the content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.question-button:hover::before {
    opacity: 1;
}