/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#0 {
    --answer-content: "Answer!";
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #877eac;
}

.question-button {
    border-radius: 20px;
    background-color: #BFB2F3;
    border: none;
    border-style: solid;
    height: 20px;
    color: #877eac;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    cursor: pointer;
    transition: all .25s;
}

.question-button:hover {
    width: 200px;
    background-color: #877eac;
    color: #BFB2F3;
}

.question-button::before {
    content: var(--answer-content);

}