/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#0 {
    --answer-content: "Answer!";
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #F8A3A8;
}

.question-button {
    border-radius: 20px;
    background-color: #BFB2F3;
    border-color: #877eac;
    height: 20px;
    color: #F8A3A8;
    font-family: 'Roboto', sans-serif;
    width: 150px;
}

.question-button::before {
    content: var(--answer-content);

}